
.btn-primary {
    color: white;
    background-color: black;
    border-color: black;
    width: 250px;
    border-radius: 20px;
    box-shadow: 0 10px 6px -6px #777;
    margin-left: 130px;
    height: 40px;
  cursor: pointer;
}

h2{
  color: teal;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  text-shadow: 0 -1px 0 #fff;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent
    width: 100%;
    background-color: black;
}

h5 {
  color: white;
  font-family: 'Roboto', sans-serif;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: black;
    margin-bottom: 40px;

}

.title {
  color: white;
  font-size: 40px;
}

.title:hover {
  color: white;
  /*font-style: italic;*/
  font-style: oblique;
  text-decoration: none;
}

.footer{
  background-color: gray;
  position: relative;
  margin-top: 250px;
  width: 100%;
}

.headerLink:hover {
  font-size: 30px;
  font-style: oblique;
}
