@import url('https://fonts.googleapis.com/css?family=Lato:100|Montserrat');

body {
  margin: 0;
  font-size: 16px;
/*  background-image: url("../images/dices.jpeg");*/
background-image: url("https://media.giphy.com/media/viqA9tE9lnGP6/giphy.gif")
}

a {
  color: gray;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.4s;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Lato', sans-serif;
}

a:hover {
/*  color: red;*/
}

.text-center {
  text-align: center;
}

.top-bar {
  padding: 10px 15px;
  margin-bottom: 50px;
}
.top-bar::after {
  content: '';
  display: block;
  clear: both;
}

.top-bar-left {
  float: left;
  font-size: 1.5em;
}

.top-bar-right {
  float: right;
}

.top-bar a,
.nav a {
  margin: 0 8px;
}

.container {
  margin: 0 auto;
  text-align: center;
  width: 700px;
}

.card-heading {
  padding: 16px;
}

.field-line, .button-line {
  padding: 16px;
}

.error-message {
  padding: 0 16px;
  color: tomato;
}

.success-message {
  padding: 0 16px;
  color: green;
}

.logo {
  width: 300px;
  margin-left: 0px;
}

.side-nav {
  background-color: black;
}

.titleBox {
    background-color: red;
    height: 30%;
    width: 100%
    padding-top: 40px;
    padding-top: 40px;
}

.title1 {
  font-size: 50px;
  padding-left: 105px;
  font-weight: lighter;
  padding-bottom: 0px;
}

.title2 {
  padding-right: 30px;
  font-size: 52px;
  font-weight: bold;
  padding-bottom: 0px;
}

.subtitle {
  padding-left: 120px;
  font-size: 16px;
  color: black;
  padding-top: 0px;
}
